{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-9 main-chart">
        <div class="row mtbox">
            <div class="col-md-3 col-sm-3 col-md-offset-1 box0">
                <div class="box1">
                    <span class="fa fa-car fa-4x"></span>
                    <h3>Total Transactions</h3>
                </div>
                <p>Today's Transactions: <strong>{{ total_revenue }}</strong></p>
            </div>
            <div class="col-md-3 col-sm-3 box0">
                <div class="box1">
                    <span class="fa fa-money fa-4x"></span>
                    <h3>Total Revenue</h3>
                </div>
                <p>Today's Revenue: <strong>$2000</strong></p>
            </div>
            <div class="col-md-3 col-sm-3 box0">
                <div class="box1">
                    <span class="fa fa-users fa-4x"></span>
                    <h3>Total Customers</h3>
                </div>
                <p>Total Customers: <strong>120</strong></p>
            </div>
        </div><!-- /row mt -->

        <div class="row mt">
            <!--CUSTOM CHART START -->
            <div class="border-head">
                <h3>REVENUE OVERVIEW</h3>
            </div>
            <div class="custom-bar-chart">
                <ul class="y-axis">
                    <li><span>1,000</span></li>
                    <li><span>800</span></li>
                    <li><span>600</span></li>
                    <li><span>400</span></li>
                    <li><span>200</span></li>
                    <li><span>0</span></li>
                </ul>
                <div class="bar">
                    <div class="title">JAN</div>
                    <div class="value tooltips" data-original-title="800" data-toggle="tooltip" data-placement="top">80%</div>
                </div>
                <div class="bar">
                    <div class="title">FEB</div>
                    <div class="value tooltips" data-original-title="600" data-toggle="tooltip" data-placement="top">60%</div>
                </div>
                <div class="bar">
                    <div class="title">MAR</div>
                    <div class="value tooltips" data-original-title="700" data-toggle="tooltip" data-placement="top">70%</div>
                </div>
                <div class="bar">
                    <div class="title">APR</div>
                    <div class="value tooltips" data-original-title="400" data-toggle="tooltip" data-placement="top">40%</div>
                </div>
                <div class="bar">
                    <div class="title">MAY</div>
                    <div class="value tooltips" data-original-title="500" data-toggle="tooltip" data-placement="top">50%</div>
                </div>
                <div class="bar">
                    <div class="title">JUN</div>
                    <div class="value tooltips" data-original-title="620" data-toggle="tooltip" data-placement="top">62%</div>
                </div>
                <div class="bar">
                    <div class="title">JUL</div>
                    <div class="value tooltips" data-original-title="750" data-toggle="tooltip" data-placement="top">75%</div>
                </div>
            </div>
            <!--custom chart end-->
        </div><!-- /row -->
    </div><!-- /col-lg-9 END SECTION MIDDLE -->

    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->
    <div class="col-lg-3 ds">
        <!-- CALENDAR -->
        <div id="calendar" class="mb">
            <div class="panel green-panel no-margin">
                <div class="panel-body">
                    <div id="my-calendar"></div>
                </div>
            </div>
        </div><!-- /calendar -->

        <!-- RECENT TRANSACTIONS -->
        <h3>Recent Transactions</h3>
        <div class="desc">
            <p><strong>Transaction #2345</strong><br/> 
            Customer: John Doe <br/> 
            Amount: $25.00</p>
        </div>
        <div class="desc">
            <p><strong>Transaction #2346</strong><br/> 
            Customer: Jane Smith <br/> 
            Amount: $35.00</p>
        </div>
        <div class="desc">
            <p><strong>Transaction #2347</strong><br/> 
            Customer: Paul Adams <br/> 
            Amount: $40.00</p>
        </div>

        <!-- TEAM MEMBERS -->
        <h3>TEAM MEMBERS</h3>
        <!-- First Member -->
        <div class="desc">
            <div class="thumb">
                <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
            </div>
            <div class="details">
                <p><a href="#">DIVYA MANIAN</a><br/>
                   <muted>Available</muted>
                </p>
            </div>
        </div>
        <!-- More Members -->
        <div class="desc">
            <div class="thumb">
                <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
            </div>
            <div class="details">
                <p><a href="#">Zac Sniders</a><br/>
                   <muted>Available</muted>
                </p>
            </div>
        </div>
    </div><!-- /col-lg-3 -->
</div><!-- /row -->
{% endblock %}
