{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-9 main-chart">
        <div class="row mtbox">
            <div class="col-md-3 col-sm-3 col-md-offset-1 box0">
                <div class="box1">
                    <span class="fa fa-car fa-4x"></span>
                    <h3>Total Transactions</h3>
                </div>
                <p>Today's Transactions: <strong>{{ total_revenue }}</strong></p>
            </div>
            <div class="col-md-3 col-sm-3 box0">
                <div class="box1">
                    <span class="fa fa-money fa-4x"></span>
                    <h3>Total Revenue</h3>
                </div>
                <p>Today's Revenue: <strong>$2000</strong></p>
            </div>
            <div class="col-md-3 col-sm-3 box0">
                <div class="box1">
                    <span class="fa fa-users fa-4x"></span>
                    <h3>Total Customers</h3>
                </div>
                <p>Total Customers: <strong>120</strong></p>
            </div>
        </div><!-- /row mt -->

        <div class="row mt">
           
</div><!-- /row -->
{% endblock %}
