<div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{corporate_name}}</h5>

                  <li class="mt">
                      <a class="active" href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a  href="/transactions">
                          <i class="fa fa-car"></i>
                          <span>Transaksi baru</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-database"></i>
                          <span>Laporan transaksi</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/report_operator">Laporan operator</a></li>
                          <li><a  href="/monthly_report">Laporan Bulanan</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Master data</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/customers">Pelanggan</a></li>
                          <li><a  href="/operators">Operator</a></li>
                          <li><a  href="/services">Jenis layanan</a></li>
                      </ul>
                  </li>



              </ul>
              <!-- sidebar menu end-->
          </div>