{% extends "layout_plain.html"  %}
{% block jsfile %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>
{% endblock %}
{% block content %}
<div class="row mt">
      <div class="col-md-12">


<div class="form-panel" style="margin:0">

    <form class="form-horizontal style-form" method="post">
        <div class="form-group">
            <div><label class="col-sm-12 control-label"><h4>&nbsp; Data transaksi</h4></label></div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Customer ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cust_id" value="{{ cust_id }}">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Service ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="serv_id" value="{{ serv_id }}">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Customer Nomor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cust_nomor" value="{{ cust_nomor }}">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Customer Owner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cust_owner" value="{{ cust_owner }}">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Customer Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cust_phone" value="{{ cust_phone }}">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Service Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="serv_code" value="{{ serv_code }}">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Service Name</label>
            <div class="col-sm-10">
                <select class="form-control" name="serv_name" onchange="javascript:showOperatorsForm(this.value)">
                    <option value="0">Pilih layanan</option>
                    {% for servs in services %}
                    <option value="{{ servs.name }}">{{ servs.name }}</option>  
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="price" value="{{ price }}">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    
<div id="show" style="display:none">

          </form>
      </div>
      </div>
</div>

{% endblock %}

{% block jsscript %}
$(document).ready(function(){
	var arrayReturn = [];
	$.ajax({
		url: "/list_nopol",
		async: true,
		dataType: 'json',
		success: function (data) {
            console.log(data)
			for (var i = 0, len = data.length; i < len; i++) {
				var id = (data[i].id).toString();
				arrayReturn.push({'value' : data[i].name, 'data' : id});
			}
			//send parse data to autocomplete function
			loadSuggestions(arrayReturn);
		}
	});
	function loadSuggestions(options) {
		$('#autocomplete').autocomplete({
			lookup: options,
			onSelect: function (suggestion) {
				$('#selected_option').html(suggestion.value);
			}
		});
	}
  });

    function list_operators(){
        var layout = '{% for item in operators %}<option value="0">Test</option>{% endfor %}'
        return layout
    }

    function showOperatorsForm(n){

        options_operators = list_operators()

        var t = new Array()
        {% for item in services %}
        t[{{item.id}}] = {{ item.many_operators }} {% endfor %}

        var display = ''
        for( i=1; i<= t[n]; i++){
            display += '<div class="form-group"><label class="col-sm-2 col-sm-2 control-label">Operator '+ i +' </label>'
            display += '<div class="col-sm-10"> <select  class="form-control">'+ options_operators +'</select>  </div> </div>'
        }

        $('#show').css("display","block");

        $('#show').html(display);
    }

{% endblock %}
