{% extends "layout.html" %}

{% block content %}

<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <div class="form-group">
                    <div style="float:left;">
                        <h4>&nbsp; Data transaksi</h4>
                    </div>
                    <div class="pull-right" style="padding-top:7px;padding-right:20px;">
                        <button class="btn btn-success" onclick="openModal(0)">Tambah</button>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <hr/>
                <thead>
                    <tr>
                        <th width="12%">Nama Customer</th>
                        <th width="13%">Nomor Customer</th>
                        <th width="12%">Nomor WA</th>
                        <th width="13%">Nomor Layanan</th>
                        <th width="12%">Nama Layanan</th>
                        <th width="12%">Price</th>
                        <th width="13%">Created On</th>
                        <th width="13%">Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% if transactions|length > 0 %}
                        {% for item in transactions %}
                        <tr>
                            <td>{{ item.cust_owner }}</td>
                            <td>{{ item.cust_nomor }}</td>
                            <td>{{ item.cust_phone }}</td>
                            <td>{{ item.serv_id }}</td>
                            <td>{{ item.serv_name }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.created_on }}</td>
                            <td align="left">
                                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-primary btn-xs" onclick="openModal({{ item.id }})"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs" onclick="deleteRecord({{ item.id }})"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" align="center"><br/>Tidak ada data</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div><!-- /content-panel -->
    </div><!-- /col-md-12 -->
</div><!-- /row -->

<!-- Modal Structure -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> <!-- Add modal-lg for larger width -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Data Pelanggan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="testModalBox" style="width: 100%; height: 600px; border: none;"></iframe> <!-- Increase height to 600px -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function openModal(id) {
    if (id != 0) {
        document.getElementById('exampleModalLabel').innerText = 'Ubah Data Pelanggan';
    } else {
        document.getElementById('exampleModalLabel').innerText = 'Tambah Data Pelanggan';
    }
    document.getElementById('testModalBox').src = '/transaction_add?id=' + id;
    $('#exampleModal').modal('show');
}

function deleteRecord(id) {
    let konfirmasi = confirm('Yakin delete data nih?');
    if (konfirmasi) {
        location.href = '/transaction-delete?id=' + id;
    }
}
</script>

{% endblock %}
